@{
    ViewData["Title"] = "TEST PAGE";
}
<h1>@ViewData["Title"]</h1>

<p>This is a test page</p>
<button id="testButton" class="btn btn-danger">Test Button</button>

@section Scripts {
    <script>
        // Bind click event to the button
        document.getElementById("testButton").addEventListener("click", function () {
            console.log("Button clicked from ASP Net Core");
        });
    </script>
}
